<button class="btn btn-success mr-2"
        (click)="addAddress()"
        tooltip="Add an address"
        [adaptivePosition]="adaptativePosition"
        placement="top"
        container="body">
    <i class="fa fa-address-book"></i>
</button> 
<button class="btn btn-danger"
        (click)="deletePerson()"
        tooltip="Delete this person"
        [adaptivePosition]="adaptativePosition"
        placement="top"
        container="body">
    <i class="fa fa-trash"></i>
</button>  
