.btn-danger {
    background: #A42409;
}

button {
    font-size: 11pt;
    width: 23px;
    padding: 0;
}

@media only screen and (max-width: 1100px) {
    /* For mobile phones: */
    button {
      width: 20px;
      font-size: 10pt;
    }
}