<div class="card animated fadeInLeft" style="height: 400px;">
    <div class="card-body mb-1">
        <h5 class="card-title">{{ currentOption }} an address</h5>
        <div class="btn-group" role="group" aria-label="Create/Edit">
          <button
            type="button"
            [disabled]="!edit"
            [class]="edit ? 'btn btn-primary' : 'btn btn-secondary'"
            (click)="editMode(false)">
            Create
          </button>
          <button
            type="button"
            [disabled]="edit"
            [class]="edit ? 'btn btn-secondary' : 'btn btn-primary'"
            (click)="editMode(true)">
            Edit
          </button>
        </div>
    </div>
    <div class="container">
        <form id="addressForm" [formGroup]="addressFormGroup" 
            (ngSubmit)="createAddress()">
      
          <label class="sr-only" for="address">Address</label>
          <div class="input-group mb-2 mr-sm-2">
            <input type="text"
                   class="form-control input-form"
                   formControlName="address" 
                   placeholder="Address"
                   [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
          </div>
      
          <label class="sr-only" for="district">District</label>
          <div class="input-group mb-2 mr-sm-2">
            <input type="text"
                   class="form-control input-form" 
                   formControlName="district" 
                   placeholder="District"
                   [ngClass]="{ 'is-invalid': submitted && f.district.errors }">
          </div>
      
        <div class="row">
            <div class="col-6">
              <label class="sr-only" for="city">City</label>
              <div class="input-group mb-2 mr-sm-2">
                <input type="text"
                       class="form-control input-form"
                       formControlName="city"
                       placeholder="City"
                       [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
              </div>
            </div>
            <div class="col-6">
                <label class="sr-only" for="zip">ZIP Code</label>
                <div class="input-group mb-2 mr-sm-2">
                  <input type="text"
                         class="form-control input-form"
                         formControlName="zip"
                         placeholder="ZIP code"
                         [ngClass]="{ 'is-invalid': submitted && f.zip.errors }">
                </div>
              </div>
        </div>
      
          <div class="btn-toolbar" role="toolbar">
                <button type="submit" class="btn btn-primary mr-2 mb-2">{{ currentOption }} address</button>
                <button type="button" class="btn btn-danger mb-2" (click)="editMode(false)">Cancel</button>
          </div>
        </form>
    </div>
