<div class="limiter">
    <div class="container-login">
        <div class="wrap-login animated-fast fadeInDown">
            <form [formGroup]="authFormGroup" (ngSubmit)=initSession()>
                <hr>
                <h5>MY SESSION</h5>
                <div class="custom-control custom-switch">
                    <input 
                        type="checkbox"
                        class="custom-control-input"
                        id="customSwitch1"
                        ([NgModel])="login"
                        [checked]="login"
                        (change)="switch()">
                    <label class="custom-control-label" for="customSwitch1">{{ accessType }}</label>
                    <i class="fa fa-question-circle ml-2" 
                       tooltip="Signup if you don't have an account"
                       [adaptivePosition]="false"
                       placement="right"></i>
                </div>
                <hr>
                <div class="wrap-input">
                    <label class="sr-only" for="email">Email</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <input type="email"
                            class="form-control input-form"
                            formControlName="email" 
                            placeholder="Email/User"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    </div>
                    <span class="text-danger" *ngIf="submitted && f.email.errors && f.email.errors.email">
                        Write a valid email, please.
                    </span>
                    <span class="text-danger" *ngIf="submitted && f.email.errors && f.email.errors.required">
                        The email is required.
                    </span>
                </div>

                <div class="wrap-input">
                    <label class="sr-only" for="password">Password</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <input type="password"
                            class="form-control input-form"
                            formControlName="password" 
                            placeholder="Password"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    </div>
                    <span class="text-danger" *ngIf="submitted && f.password.errors && f.password.errors.required">
                        The password is required.
                    </span>
                    <span class="text-danger" *ngIf="submitted && f.password.errors && f.password.errors.minlength">
                        The password must have at least 6 characters.
                    </span>
                </div>

                <div class="contact-form-checkbox">
                    <input
                      class="input-checkbox" 
                      id="ckb1" 
                      type="checkbox" 
                      formControlName="remember">
                    <label class="label-checkbox" for="ckb1">
                        Remember my email
                    </label>
                </div>

                <div class="btn-toolbar" role="toolbar">
                    <button type="submit" class="btn btn-primary mr-2 mb-2">{{ accessType }}</button>
                    <button type="button" class="btn btn-danger mb-2" (click)="resetForm()">Cancel</button>
              </div>
            </form>
        </div>
    </div>
</div>
