h5 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrap-input {
    padding-bottom: 10px;
}

.btn-toolbar {
    padding-top: 10px;
}

.custom-control {
    width: 100%;
    padding-left: 44.5%;
}

.fa-question-circle {
    color: #0b65b9;
}

span {
    font-size: 10pt;
}