<nav class="navbar navbar-expand-md justify-content-md-center justify-content-start">
    <div class="btn-group navbar-toggler" dropdown *ngIf="showButtons">
        <button id="button-basic" dropdownToggle type="button" class="navbar-toggler"
          aria-controls="dropdown-basic">
          <i class="fa fa-bars"></i>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
            <li role="menuitem">
                <a *ngIf="showButtons"
                    class="nav-link"
                    [routerLink]="['/people']"
                    style="font-size: 15px; color: black;">
                    <i class="fa fa-users"></i> People
                </a>
            </li>
            
            <li role="menuitem">
                <a *ngIf="showButtons"
                    class="nav-link"
                    style="font-size: 15px; color: black;"
                    [routerLink]="['/addresses']">
                    <i class="fa fa-address-card"></i> Addresses
                </a>
            </li>
            <li role="menuitem">
                <a *ngIf="showButtons"
                    class="nav-link"
                    style="font-size: 15px; color: black;"
                    [routerLink]="['/charts']">
                    <i class="fa fa-area-chart"></i> Charts
                </a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
                <a *ngIf="showButtons"
                    class="nav-link"
                    style="font-size: 15px; color: black;"
                    (click)="logout()">
                    <i class="fa fa-sign-out"></i> Sign-out
                </a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse">
        <a 
        *ngIf="showButtons"
        routerLinkActive="active"
        class="nav-link" 
        tooltip="Navigate to people page"
        placement="right"
        [adaptivePosition]="false"
        [routerLink]="['/people']"
        style="font-size: 30px;">
            <i class="fa fa-users"></i>
        </a>
        <a 
        *ngIf="showButtons"
        class="nav-link" 
        tooltip="Navigate to addresses page"
        placement="right"
        [adaptivePosition]="false"
        routerLinkActive="active"
        [routerLink]="['/addresses']"
        style="font-size: 30px;">
            <i class="fa fa-address-card"></i>
        </a>
        <a 
        *ngIf="showButtons"
        class="nav-link" 
        tooltip="Navigate chart page"
        placement="right"
        [adaptivePosition]="false"
        routerLinkActive="active"
        [routerLink]="['/charts']"
        style="font-size: 30px;">
            <i class="fa fa-area-chart"></i>
        </a>
    </div>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-md-center text-left"></ul>
        <ul class="nav navbar-nav justify-content-md-center justify-content-start flex-nowrap">
            <li class="nav-item">
                <a *ngIf="showButtons"
                    class="nav-link"
                    tooltip="Close session"
                    placement="left"
                    container="body"
                    [adaptivePosition]="false"
                    style="font-size: 30px;"
                    (click)="logout()">
                    <i class="fa fa-sign-out"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>