<div class="row div-row animated fadeInLeft">
    <div class="col-md-5 div-col-form animated fadeInDown">
        <app-addresses-options></app-addresses-options>
    </div>
    <div class="col div-col-personal-info">
        <div class="animated-delay fadeInDown" style="height: 100%">
            <app-person-info></app-person-info>
        </div>
    </div>
</div>
