<div class="no-info" *ngIf="address == null">
    <h5>Select an address first.</h5>
</div>
<div class="card mb-2 animated fadeInUp" *ngIf="address != null">
    <div class="card-body" *ngIf=!loading>
        <h5 class="card-title">Person details</h5>
        <p class="card-text"><strong>First name: </strong>{{ person.firstName }}</p>
        <p class="card-text"><strong>Last name: </strong>{{ person.lastName }}</p>
        <p class="card-text">
            <strong>Age: </strong>{{ person.age }} | <strong>Blood group: </strong>{{ person.bloodGroup }}
        </p>
    </div>
    <div class="card-body" *ngIf=loading>
        <h5 class="card-title">Person details</h5>
        <div class="loading-component">
            <app-loading></app-loading>
        </div>
    </div>
</div>

<div class="card mb-2 animated fadeInUp" *ngIf="address != null">
    <div class="card-body">
      <h5 class="card-title">Address details</h5>
      <p class="card-text"><strong>Address: </strong>{{ address.address }}</p>
            <p class="card-text"><strong>District: </strong>{{ address.district }}</p>
            <p class="card-text">
                <strong>City: </strong>{{ address.city }} | <strong>ZIP Code: </strong>{{ address.postalCode }}
            </p>
    </div>
</div>