.card {
    height: 48.5%;
}

.card-title {
    color: seashell;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23161d31' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%231f345f' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23234c91' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%232067c6' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%230d82ff' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    height: 20%;
    padding-top: 4%;
}

.card-body {
    padding: 0%;
}

.no-info {
    padding-top: 65%;
    height: 100%;
}

p {
    font-family: Ubuntu-Regular;
    padding-left: 5%;
    padding-right: 5%;
}

.loading-component {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .card-title {
        min-height: 30%;
    }

    .no-info {
        padding-top: 25%;
        height: 100%;
    }
}