<div class="card" style="height: 425px;">
    <div class="card-body mb-1">
        <h5 class="card-title">{{ currentOption }} a person</h5>
        <div class="btn-group" role="group" aria-label="Create/Edit">
          <button
            type="button"
            [disabled]="!edit"
            [class]="edit ? 'btn btn-primary' : 'btn btn-secondary'"
            (click)="editMode(false)">
            Create
          </button>
          <button
            type="button"
            [disabled]="edit"
            [class]="edit ? 'btn btn-secondary' : 'btn btn-primary'"
            (click)="editMode(true)">
            Edit
          </button>
        </div>
    </div>
    <div class="container">
        <form id="personForm" [formGroup]="personFormGroup" 
            (ngSubmit)="createPerson()">
      
          <label class="sr-only" for="First name">First name</label>
          <div class="input-group mb-2 mr-sm-2">
            <input type="text"
                   class="form-control input-form"
                   formControlName="firstName" 
                   placeholder="First name"
                   [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
          </div>
          <label class="sr-only" for="Last name">Last name</label>
          <div class="input-group mb-2 mr-sm-2">
            <input type="text"
                   class="form-control input-form" 
                   formControlName="lastName" 
                   placeholder="Last name"
                   [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
          </div>
          <span class="text-danger" 
          *ngIf="submitted && ((f.lastName.errors && f.lastName.errors.pattern) ||
                (f.firstName.errors && f.firstName.errors.pattern))">
            The name must have only letters*
          </span>
      
          <div class="row">
            <div class="col-6">
              <label class="sr-only" for="Age">Age</label>
              <div class="input-group mb-2 mr-sm-2">
                <input type="number"
                       class="form-control input-form"
                       formControlName="age"
                       placeholder="Age"
                       [ngClass]="{ 'is-invalid': submitted && f.age.errors }">
              </div>
              <span class="text-danger" *ngIf="submitted && f.age.errors && f.age.errors.min">
                The owner must be at least 21 years old*
              </span>
              <span class="text-danger" *ngIf="submitted && f.age.errors && f.age.errors.max">
                The owner must be under 105 years old*
              </span>
            </div>
            <div class="col-6">
              <label class="sr-only" for="Blood groups">Blood group</label>
              <div class="input-group mb-2 mr-sm-2">
                <select formControlName="bloodGroups"
                  class="form-control input-form"
                  placeholder="Blood groups"
                  [ngClass]="{ 'is-invalid': submitted && f.bloodGroups.errors }">
                  <option value="0" disabled selected>Blood groups</option>
                  <option value="O+">O+</option>
                  <option value="O-">O-</option>
                  <option value="A+">A+</option>
                  <option value="A-">A-</option>
                  <option value="B+">B+</option>
                  <option value="B-">B-</option>
                  <option value="AB+">AB+</option>
                  <option value="AB-">AB-</option>
                </select>
              </div>
            </div>
          </div>
      
          <div class="btn-toolbar" role="toolbar">
                <button type="submit" class="btn btn-primary mr-2 mb-2">{{ currentOption }} person</button>
                <button type="button" class="btn btn-danger mb-2" (click)=editMode(false)>Cancel</button>
          </div>
        </form>
    </div>
</div>