.btn-danger {
    background: #A42409;
}

button {
    width: 25px;
    padding: 0;
}

@media only screen and (max-width: 1100px) {
    /* For mobile phones: */
    button {
      width: 18px;
      font-size: 9pt;
    }
}