<button class="btn btn-primary mr-2"
        (click)="editAddress()"
        tooltip="Edit this address"
        [adaptivePosition]="adaptativePosition"
        placement="top"
        container="body"
        *ngIf="showEditDelete">
    <i class="fa fa-edit"></i>
</button> 
<button class="btn btn-danger"
        (click)="deleteAddress()"
        tooltip="Delete this address"
        [adaptivePosition]="adaptativePosition"
        placement="top"
        container="body"
        *ngIf="showEditDelete">
    <i class="fa fa-trash"></i>
</button>

<button class="btn btn-success mr-2"
        (click)="saveChanges()"
        tooltip="Save changes"
        [adaptivePosition]="adaptativePosition"
        placement="top"
        container="body"
        *ngIf="showSaveView">
    <i class="fa fa-save"></i>
</button>
<button class="btn btn-primary"
        (click)="viewDetails()"
        tooltip="View details"
        [adaptivePosition]="adaptativePosition"
        placement="top"
        container="body"
        *ngIf="showSaveView">
    <i class="fa fa-info-circle"></i>
</button>