ag-grid-angular {
    width: 100%;
    height: 100%;
    min-height: 200px;
    min-width: 300px;
}

.options-cell {
  width: 80px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    ag-grid-angular {
      width: 100%;
    }

    .options-cell {
      width: auto;
    }
}