<div class="row animated fadeInRight">
    <div class="col-8 col-list">
        <app-addresses-person-list></app-addresses-person-list>
    </div>
    <div class="col-4 col-details">
        <app-addresses-person-details></app-addresses-person-details>
    </div>
</div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         