<div class="row div-row animated fadeInLeft">
    <div class="col-md-5 div-col-list animated">
        <app-people-list></app-people-list>
    </div>
    <div class="col-md-7 div-col-router">
        <router-outlet></router-outlet>
    </div>
</div>

