<div class="divTabset">
    <tabset>
        <tab heading="Selected address" customClass="customTab">
            <div class="animated fadeInLeft" style="height: 100%;">
                <app-addresses-info></app-addresses-info>
            </div>
        </tab>
        <tab heading="Create/Edit" customClass="customTab">
            <app-addresses-edit></app-addresses-edit>
        </tab>
    </tabset>
</div>
