<div class="card mb-4">
    <div class="card-body" *ngIf="address">
        <h5 class="card-title">Address details</h5>
        <p class="card-text"><strong>Address: </strong>{{ address.address }}</p>
        <p class="card-text"><strong>District: </strong>{{ address.district }}</p>
        <p class="card-text">
            <strong>City: </strong> {{ address.city }} | <strong>ZIP Code: </strong> {{ address.postalCode }}
        </p>
    </div>
    <div class="card-body" *ngIf="!address">
        <h5>No address has been selected.</h5>
    </div>
</div>