    <div class="card mb-4">
        <div class="card-body" *ngIf="person != null">
            <h5 class="card-title">Personal information</h5>
            <p class="card-text"><strong>First name: </strong>{{ person.firstName }}</p>
            <p class="card-text"><strong>Last name: </strong>{{ person.lastName }}</p>
            <p class="card-text">
                <strong>Age: </strong>{{ person.age }} | <strong>Blood group: </strong>{{ person.bloodGroup }}
            </p>
        </div>
        <div class="card-body" *ngIf="person == null">
            <h5>No person has been selected.</h5>
        </div>
    </div>
    <ag-grid-angular
        class="ag-theme-balham"
        [columnDefs] = "colDefs"
        [rowData] = "rowData"
        [groupHeaderHeight] = "groupHeaderHeight"
        [headerHeight]="headerHeight"
        [frameworkComponents]=frameworkComponents
        [context]="context"
        (gridReady)="onGridReady($event)"
        [overlayNoRowsTemplate] = "overlayNoRowsTemplate"
        (cellClicked)="addressRowSelected($event)">
    </ag-grid-angular>
